<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Ótica_Valentim.Properties.Settings.db_sistemaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db_sistema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistema_Ótica_Valentim.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>